body {
  margin: 0 auto;
  padding: 0px 0 0;
  background-color: #f6f6f6;
  color: #515151
  font-family:
  Verdana,Arial,Helvetica,'meirio','メイリオ','Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4',Osaka,'ＭＳ Ｐゴシック',sans-serif;
}

/* 外枠設定 */
#wrapper {
  margin:0;
  padding:0;
  border-top:solid 8px #6CC6C4;
  
}

#headerWrapper {
  margin:0 auto 20px;
  width:920px;
  text-align:left;
}

/* ヘッダー設定 */
#header {
  height:200px;
}

.up {
  display: flex;
  justify-content: space-between;
  margin-bottom:10px;
}

.siteTitle {
  top:50px;
  left:0px
  font-weight: normal;
  margin:50px 0 0 0;
  padding:0;
}

/* 概要 */

.right-up-content {
  margin-top: 10px;
}

.description {
	top:10px;
	right:0px;
	margin-bottom:10px;
	padding:0;
	font-size:65%;
  text-align:right;
  color: #515151;
}

.header-tel {
  top: 40px;
  right:0px;
  margin:0;
  padding: 0px;
  font-size: 150%;
  text-align: right;
  color: #515151;
}

.reserve-time {
  margin:0px;
  padding: 5px 20px;
  font-size: 65%;
  text-align: right;
  color: #515151;
  border: 1px solid #bdb7b7;
}

.holiday {
  color:red
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  margin:0px;
  padding: 0px;
  background-color: #6CC6C4;
  width: 920px;
  height:70px;
  border-radius: 5px;
  border: 1px solid #3c9796;
}

.nav li {
  border: 1px solid #3c9796;
  text-align: center;
  flex-grow: 1;
  height: 70px;
  width: 184px;
}

.nav-c {
  font-family: 'Hiragino Maru Gothic Pro';
  font-size: 14px;
  padding-top:15px;
  color: #fff;
}

.nav-e {
  font-family: Verdana;
  font-weight: 600;
  font-size: 5px;
  color: #fff;
}

#mainWrapper {
  margin:0 auto;
  width:920px;
  height: 725px;
  text-align:left;
}


.main {
  display: flex;
}

.main-left {
  display: block;
  margin: 0 0 0 0;
}

.left-contents {
  width: 260px;
  height: 230px;
  border: 1px solid #3c9796;
  border-radius: 5px 5px 0 0;
  margin:0 0 20px 0;
  padding:0 ;
  background-color:#ffffff
}

.side-contents {
  height: 40px;
  background-color: #6CC6C4;
  color: #fff;
  padding-left: 5px;
}

.side-title {
  font-family: 'Hiragino Maru Gothic Pro';
  padding: 8px 10px;
}

.treatments {
  list-style: none;
  padding: 0 0 0 10px;
  margin: 0px;
  
}

.rhombus {
  color: #6CC6C4;
  font-size: 70%;
}

.treatment-list {
  padding: 10px 5px 10px 0;
  font-size:85%;
  font-family: 'Hiragino Maru Gothic Pro';
  color: #515151;
  border-bottom:1px solid #6CC6C4;
  width: 220px;
}

.aesthetics {
  list-style: none;
  padding: 0 0 0 10px;
  margin-top: 0;
}

.aesthetic-list {
  padding: 10px 5px 10px 0;
  font-size:85%;
  font-family: 'Hiragino Maru Gothic Pro';
  color: #515151;
  border-bottom:1px solid #6CC6C4;
  width: 220px;
}

.main-right {
  padding: 0 0 0 18px;
}

.main-image{
  height: 280px;
  width: 640px;
}

.main-information {
  background-color: #ffffff;
  height: 385px;
  padding-top: 35px;
  border-radius: 0 0 5px 5px;
}

.new-information {
  font-family: 'Hiragino Maru Gothic Pro';
  color: #515151;
  width: 600px;
  margin: 0 0 20px 15px;
  padding-bottom: 15px;
  border-bottom: 3px solid #6CC6C4;
}

.info-contents {
  list-style: none;
  padding-left: 15px;
  margin-top: 0;
}

dl {
  margin: 0 0 15px;
  padding: 0 10px 10px;
}

dt {
  float: left;
  width: 143px;
  padding: 10px 0;
  font-weight: bold;
  line-height: 200%;
  margin:0;
}

.day {
  font-family: Verdana;
  color: #515151;
  font-size: 13px;
  margin-right: 10px;
}

dd {
  font-family: 'Hiragino Maru Gothic Pro';
  color: #515151;
  font-size: 13px;
  width: 75%;
  margin: 0;
  padding: 10px 10px 10px 143px;
  border-bottom: 1px #CCCCCC dotted;
}

#footerWrapper {
  margin:0 ;
  text-align:center;
  width:100%;
  height: 130px;
}

#footer {
  width: 920px;
  margin: 0 auto;
  color: #313131;
}

.nav-b {
  font-family: 'Hiragino Maru Gothic Pro';
  color: #ffffff;
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #6CC6C4;
  margin-top: 0;
  padding-left: 10px;
  font-size: 13px;
  border-radius: 5px;
}

.nav-bc {
  height: 30px;
  line-height: 30px;
  padding-right: 20px;
}

.round {
  font-size: 100%;
  padding-right: 5px;
}

.address {
  text-align: right;
  font-family: 'Hiragino Maru Gothic Pro';
  color: #515151;
  font-size: 13px;
  padding-bottom: 10px;
  border-bottom: 2px solid #6CC6C4;
}

.copyright {
  font-family: 'Hiragino Maru Gothic Pro';
  text-align: center;
  font-size: 12px;
  padding: 10px 0;
}

